{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock head_title %}

{% block content %}
<div class="container text-center mt-5">
  <h1 class="mb-5">{% trans "Log Out" %}</h1>

  <p>{% trans 'Are you sure you want to log out?' %}</p>

  <form id="logout-form" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" id="submit-button">{% trans 'Log Out' %}</button>
  </form>
</div>


{% endblock content %}