/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --colour1: #651F1F;
    /*dark burgundy*/
    --colour2: #8A3324;
    /*medium burgundy*/
    --colour3: #F2E8CF;
    /*beige*/
    --colour4: #45513F;
    /*dark sage*/
    --colour5: #C2D9B5;
    /*light sage*/
    --colour6: #213B26;
    /*dark green*/
    --colour7: #A7C957;
    /*light green*/
    --colour8: #DEFF97;
    /*vibrant green*/

    --font-dark: #1C2815;
    /*black green*/
    --font-light: #FFFFFF;
    /*white*/

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-heading: 'Montserrat Alternates', sans-serif;
}

/* Global Styles */
html,
body {
    font-family: var(--font-family-base);
    height: 100%;
    background-color: var(--colour3);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
}

html {
    scroll-behavior: smooth;
}


button,
a.btn,
form#logout-form button#submit-button,
form.password_reset input[type="submit"] {
    color: var(--colour2);
    font-weight: bold;
    border-color: var(--colour2);
    background-color: var(--colour3);
    padding-inline: 20px;
    font-size: large;
}

button:hover,
a.btn:hover,
form#logout-form button#submit-button:hover,
form.password_reset input[type="submit"]:hover {
    background-color: var(--colour2);
    color: var(--font-light);
    border-color: var(--colour2);
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s;
}

/* Base.html - Styling for the navbar and footer throughout the whole application */
/* Navbar Styles */
.custom-navbar {
    background-color: var(--colour6);
    color: var(--font-light);
    font-family: var(--font-family-heading);
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: var(--font-light);
    transition: transform 0.3s, color 0.3s;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
    color: var(--colour8);
    /* highlight color */
    animation: bounce 0.3s;
}

a.nav-link,
a.navbar-brand {
    font-size: 24px;
    font-weight: 200;
}

.navbar-logo {
    margin-inline: 15px;
}

.custom-navbar .navbar-toggler {
    border-color: var(--font-light);
}

.navbar-collapse {
    text-align: right;
}

.dropdown-style {
    background-color: var(--colour6);
    color: var(--font-light);
    font-size: 22px;
}

.menu-style {
    margin: 0;
    border: 0;
    padding: 0;
}

.dropdown-style:hover {
    background-color: var(--colour8);
}

/* Django messages */
#message-container {
    margin-top: 10px;
}

#msg {
    background-color: var(--colour1);
    border: 1px solid var(--colour1);
    color: var(--font-light);
    font-size: 0.95rem;
    font-weight: 500;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    animation: fadeSlideIn 0.4s ease forwards;
}

#msg-btn {
    filter: invert(100%);
    opacity: 0.7;
    transition: opacity 0.2s ease;
    background-color: transparent;
    border: none;
    width: 1rem;
    height: 1rem;
}

#msg-btn:hover,
#msg-btn:active,
#msg-btn:focus {
    opacity: 1;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
}

/* Footer */
#footer-style {
    background-color: var(--colour6);
    color: var(--font-light);
    text-align: center;
    font-size: 16px;
}

#footer-style i {
    font-size: 1.5rem;
    vertical-align: middle;
}

/* index.html */
h1.display-4 {
    padding-top: 0.5rem;
}

.flash {
    opacity: 1;
    transition: opacity 1s ease;
}

.flash-hide {
    opacity: 0;
}

.img-index {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

h5.card-title {
    font-weight: bold;
    text-align: center;
    color: var(--colour6);
    border-bottom: 1px solid var(--colour2);
    padding-bottom: 3px;
}

/* Media query: phones (425 and down) */
@media screen and (max-width: 425px) {

}

/*Media query: tablets (768) */
@media screen and (max-width:768px) {

    .col-md-8,
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*media query: larger screens (1024)*/
@media screen and (min-width: 1024px) {

    /* index.html */
    div.card.h-100 {
        height: 400px;
    }

    div>img.h-200 {
        height: 200px;
        object-fit: cover;
    }
}