/* Comment Section Styles */
.cmt-section {
    background-color: var(--colour5);
    color: var(--font-dark);
}

.submit-btn {
    color: var(--font-light);
    font-weight: bold;
    border-color: var(--colour1);
    background-color: var(--colour1);
    padding-inline: 20px;
    font-size: large;
}

.submit-btn:hover {
    background-color: var(--colour2);
    border-color: var(--colour2);
    color: var(--font-light);
}

.comment-box {
    border: var(--colour4) 2px solid;
    margin-bottom: 1em;
    padding: 1rem;
}

.approval {
    opacity: 0.6;
    font-style: italic;
    color: var(--colour2);
}

#comment-count {
    color: var(--colour1);
}

u {
    color: var(--colour1)
}

button.btn.close-btn {
    --bs-btn-bg: var(--colour3);
    --bs-btn-color: var(--colour2);
    --bs-btn-border-color: var(--colour2);
    --bs-btn-hover-bg: var(--colour2);
    --bs-btn-hover-color: var(--font-light);
    --bs-btn-hover-border-color: var(--colour2);
    padding-inline: 20px;
    font-size: large;
    font-weight: bold;
}

button.btn.close-btn:hover {
    background-color: var(--colour2);
    color: var(--font-light);
    border-color: var(--colour2);
}
