/* Submit Page Specific Styles */
.card { display: flex; flex-direction: column; }
.card-body { flex: 1 1 auto; }     /* body grows to fill space */
.card-footer { margin-top: auto; } /* pushes footer to the bottom */

.card-img-top {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
}

button,
a.edit-btn {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--colour2);
    font-weight: bold;
    font-size: 18px;
}

button:hover,
a.edit-btn:hover {
    cursor: pointer;
    transition: 0.3s;
}

.button-submit {
    color: var(--colour2);
    font-weight: bold;
    border-color: var(--colour2);
    background-color: var(--colour3);
    padding-inline: 20px;
}

.button-submit:hover {
    background-color: var(--colour2);
    color: var(--font-light);
    border-color: var(--colour2);
    transition: background-color 0.3s, color 0.3s;
}

.action-row {
    position: relative; z-index: 3;
}

.post-link {
    position: static !important; display: block;
}

/* filter dropdown */
.dropdown-menu {
    background-color: var(--colour4);
    border: 1px solid var(--colour3);
    padding: 0.25rem 0;
    font-size: 16px;
}

.dropdown-menu .dropdown-item {
    color: var(--font-light);
    background-color: var(--colour4);
    padding: 0.5rem 1rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--colour4);
    color: var(--font-light);
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: var(--colour4);
}