/* CSS Variables */
:root {
    --colour1: #651F1F; /*dark burgundy*/
    --colour2: #8A3324; /*medium burgundy*/
    --colour3: #F2E8CF; /*beige*/
    --colour4: #45513F; /*dark sage*/
    --colour5: #C2D9B5; /*light sage*/
    --colour6: #213B26; /*dark green*/
    --colour7: #A7C957; /*light green*/
    --colour8: #DEFF97; /*vibrant green*/

    --font-dark: #1C2815; /*black green*/
    --font-light: #FFFFFF; /*white*/

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-heading: 'Montserrat Alternates', sans-serif;
}

/* Submit Page Specific Styles */
.button-submit {
    color: var(--colour2);
    font-weight: bold;
    border-color: var(--colour2);
    background-color: var(--colour3);
    padding-inline: 20px;
}

.button-submit:hover {
    background-color: var(--colour2);
    color: var(--font-light);
    border-color: var(--colour2);
    transition: background-color 0.3s, color 0.3s;
}

button.edit-btn, a.edit-btn {
    color: var(--colour2);
    text-decoration: underline;
    border: var(--colour2) solid 1px;
    font-weight: bold;
    background-color: var(--colour5);
    padding-inline: 20px;
    font-size: large;
}

button.edit-btn:hover, a.edit-btn:hover {
    background-color: var(--colour2);
    color: var(--colour5);
    border-color: var(--colour5);
}

.action-row {
    position: relative; z-index: 3;
}

.post-link {
    position: static !important; display: block;
}

/* filter dropdown */
.dropdown-menu {
    background-color: var(--colour4);
    border: 1px solid var(--colour3);
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    font-size: 16px;
}

.dropdown-menu .dropdown-item {
    color: var(--font-light);
    background-color: var(--colour4);
    padding: 0.5rem 1rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--colour4);
    color: var(--font-light);
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: var(--colour4);
}