{% extends "base.html" %} 
{% load static safe_media crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <h1>{{ post.title }}</h1>
        <p>By: {{ post.author }} on {{ post.created_on }}</p>
        {% if is_author %}
        <span class="mt-auto text-center d-block mt-2 mb-2">
            <a href="{% url 'recipe_edit' post.slug %}">
                <button class="edit-btn">Edit</button>
            </a>

            <form method="post" action="{% url 'recipe_delete' post.slug %}" class="d-inline" id="delete-form-page">
                {% csrf_token %}
                <button type="button" class="edit-btn js-delete-trigger" data-bs-toggle="modal"
                    data-bs-target="#deleteRecipeModal" data-form="#delete-form-page">
                    Delete
                </button>
            </form>
        </span>

        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            {% with imgurl=post.image|safe_url %}
            {% if imgurl %}
            <img src="{{ imgurl }}" class="img-fluid" alt="{{ post.title }}">
            {% else %}
            <img src="{% static 'images/placeholder.webp' %}" class="img-fluid" alt="placeholder image">
            {% endif %}
            {% endwith %}
            <p class="mt-3">Cooking time: {{ post.duration }}</p>
            <p>Difficulty level: {{ post.difficulty }}</p>
        </div>
        <div class="col-lg-4">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in ingredients %}
                <li>{{ ingredient.text }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Instructions</h2>
            <ol>
                {% for step in steps %}
                <li>{{ step.text }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <!-- Comments Section -->
    <div class="row">
        <div class="col-12 col-md-8 card mb-4 mt-3 cmt-section">
            <h3 class="mt-3"><strong id="comment-count">
                    <i class="far fa-comments"></i> {{ comment_count }}
                </strong>Comments:</h3>
            <div class="card-body">
                <!--  for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div
                    class="p-2 comments comment-box {% if not comment.approved and comment.author == user %}faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }} wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.content | linebreaks }}
                    </div>
                    <span class="font-weight-normal">
                        {{ comment.created_on }}
                    </span>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        Your comment is awaiting approval by admin
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button type="button" class="btn btn-delete comment-buttons"
                        data-delete-url="{% url 'comment_delete' slug=post.slug comment_id=comment.id %}"
                        data-bs-toggle="modal" data-bs-target="#deleteModal"><u>Delete</u></button>
                    <button type="button" class="btn btn-edit comment-buttons" data-comment-id="{{ comment.id }}"
                        data-edit-url="{% url 'comment_edit' slug=post.slug comment_id=comment.id %}"><u>Edit</u></button>
                    {% endif %}
                </div>
                <!-- for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-12 col-md-4 card mb-4 mt-3 cmt-section">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <div class="text-center">
                        <button id="submitButton" type="submit"
                            class="btn btn-signup btn-lg text-center submit-btn">Submit</button>
                    </div>
                </form>
                {% else %}
                <p class="text-center">Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete comment confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Delete recipe confirmation modal -->
<div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-hidden="true"
    aria-labelledby="deleteRecipeModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteRecipeModalLabel">Delete recipe?</h1>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn close-btn" id="confirmDeleteBtn" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comment.js' %}"></script>
<script src="{% static 'js/delete.js' %}"></script>
{% endblock %}