{% extends "base.html" %} {% block content %}
{% load static %}

<div class="container">
    <div class="row text-center">
        <h1>{{ post.title }}</h1>
        <p>By: {{ post.author }}</p>
        <!-- insert add to faves and upvote and downvote here -->
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">
            {% endif %}
            <p>Cooking time: {{ post.duration }}</p>
            <p>Difficulty level: {{ post.difficulty }}</p>
        </div>
        <div class="col-lg-4">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in ingredients_list %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4">
            <h2>Instructions</h2>
            <ol>
                {% for step in post.method.splitlines %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

{% endblock content %}