{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid p-0">
    <!-- Intro Section -->
    <div class="hero-section text-center py-3">
        <h1 class="display-4">Welcome to your cooking community!</h1>
        {% if user.is_authenticated %}
        <p class="lead mt-2 p-2">DishShare is your platform for sharing and discovering delicious recipes.</p>
        <a class="btn btn-lg mt-3" href="{% url 'submit_recipe' %}">Share your own recipes</a>
        <a class="btn btn-lg mt-3" href="{% url 'recipe_hub' %}">Explore more recipes</a>
        {% else %}
        <p class="lead mt-2 p-2">DishShare is your platform for sharing and discovering delicious recipes. Join our community now!</p>
        <a class="btn btn-lg mt-3" href="{% url 'account_signup' %}">Register Now!</a>
        <a class="btn btn-lg mt-3" href="{% url 'account_login' %}">Login</a>
        {% endif %}
    </div>

    <!-- Featured Recipes Section -->
    <div class="container mt-1">
        <div class="hero-section text-center">
            <p class="lead mt-3"><strong>Explore the communities favorite recipes below!</strong></p>
        </div>
        <div class="row justify-content-center">
            {% for post in recipepost_list %}
                {% if forloop.counter <= 4 %}
                <div class="col-sm-6 col-md-3 mb-4" id="small-card">
                    <a href="{% url 'recipe_page' post.slug %}" class="post-link">
                        <div class="card h-100 d-flex flex-column" id="top-card-style">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top h-200" id="img-index" alt="{{ post.title }}">
                            {% else %}
                            <img src="{% static 'images/placeholder.webp' %}" class="card-img-top h-200" id="img-index" alt="placeholder image">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text">{{ post.summary }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}